<h2 class="title is-2"> Comments </h2>
<% @post.comments.each do |comment| %>
  <p class="subtitle"> <%= comment.body %> </p>
<% end %>
<%= form_with model: @comment do |form| %>
  <%= form.text_area :body, size: '60x10' %>
  <%= form.hidden_field :post, :value => params[:id] %>
  <%= form.submit %>
<% end %>