<%# check if viewing own profile, or someone elses %>
<% if flash[:request_success] %>
  <p class="subtitle"> <%= flash[:request_success] %> </p>
<% end %>

<% if flash[:already_sent] %>
  <p class="subtitle"> <%= flash[:already_sent] %> </p>
<% end %>

<% if flash[:already_received] %>
  <p class="subtitle" > <%= flash[:already_received] %> </p>
<% end %>

<% if flash[:lonely_ass] %>
  <div class="notification is-danger">
    <p> <%= flash[:lonely_ass] %> </p>
  </div>
<% end %>

<div class="columns is-multiline below-navbar">
  <div class="column is-one-fifth">
    <%= link_to image_tag(@pfp, class: "profile_pic is-rounded"), pfp_url_user_path %>
    
    <%# friend request button %>
    <br>
    <p class="subtitle"> <%= @profile_owner.username %> </p>
    <%= button_to "Send Friend Request", action: "friend_request", 
    params: {:friend_1 => current_user.id, :friend_2 => @profile_owner.id} %>
    <p class="subtitle">Friends: <%= @friends.count %> </p>

    <%# chat button %>
    <br>
    <%= button_to "Chat", action: "chat", 
    params: {:sender => current_user.id, :receiver => @profile_owner.id} %>
    <%# notifications button %>
    <br>
    <%= link_to "Notfications", action: "notifications" %>
    <br>
    <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>    
  </div>
  <div class="column is-two-thirds">
    <% @posts.each do |post| %>
      <div class="message-body">
        <%= post.body %>
      </div>
         <footer class="message-body">
          <%= link_to "Comment", new_comment_path(post.id) %>
          <%= link_to image_tag('like.png', size: "24x24"), like_post_path(post.id) %>
          <%= post.liking_users.count %>
        </footer>     
    <% end %>
  </div>

</div>


