<% if flash[:post_success] %>
  <div class="notification is-primary">
    <p> <%= flash[:post_success] %> </p>
  </div>
<% end %>
<h2 class="title is-2"> Your timeline </h2>
<%# show users last 3 posts %>

<% @recent_posts.each do |post| %>
  <%= @recent_post.body if @recent_post %>
<% end %>
<div class="columns is-multiline">
  <% @recent_posts.concat(@friends_posts).each do |post| %>
    <% if post %>
      <div class="column is-half">
        <div class="message-header">
          <p> <%= post.user.username %> </p>
        </div>
        <div class="message-body">
          <%= post.body %>
        </div>
        <footer class="message-body">
          <%= link_to "Comment", new_comment_path(post.id) %>
        </footer>
      </div>
    <% end %>
  <% end %>
</div>