<h2 class="title is-2 below-navbar"> Your timeline </h2>
<%# show users last 3 posts %>

<% @recent_posts.each do |post| %>
  <%= @recent_post.body if @recent_post %>
<% end %>
<div class="columns is-multiline">
  <% @recent_posts.concat(@friends_posts).each do |post| %>
    <% if post %>
      <div class="column is-half">
        <div class="message-header">
          <% if post.user.profile_picture %>
            <%= image_tag post.user.profile_picture, class: "post_pfp"%>
          <% else %>
            <%= image_tag @default, class: "post_pfp"%>
          <% end %>
          <div class="author"> <%= post.user.username %> </div>
        </div>
        <div class="message-body">
          <%= post.body %>
        </div>
        <footer class="message-body">
          <%= link_to "Comment", new_comment_path(post.id) %>
          <%= link_to image_tag('like.png', size: "24x24"), like_post_path(post.id) %>
          <%= post.liking_users.count %>
        </footer>
      </div>
    <% end %>
  <% end %>
</div>