<!DOCTYPE html>
<html>
  <head>
    <%= include_gon %>
    <title>Facebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
  </head>

  <body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
        crossorigin="anonymous">
    </script>
    <% if current_user %>
      <br>
      <div class="navbar has-background-link">
        <%= link_to posts_path do %>
          <%= image_tag 'home.png', width: 24, height: 24 %>
        <% end %>  

        <%= link_to profile_user_path(current_user.id) do %>
          <%= image_tag 'user.png', width: 24, height: 24 %>
        <% end %> 

        <%= link_to notifications_user_path(current_user.id), {:id => "notifications"} do %>
          <%= image_tag 'notification-bell.png', width: 24, height: 24 %>
        <% end %> 

        <%= link_to friends_user_path(current_user.id) do %> 
          <%= image_tag 'friends.png', width: 24, height: 24 %> 
        <% end %>

        <%= link_to users_path do %>
          <%= image_tag 'people.png', width: 24, height: 24 %>
        <% end %>
      </div>
    <% end %>
    <%= yield %>

  </body>
</html>
