<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <br>
      <div class="navbar">
        <%= link_to "Timeline", posts_path %> 
        <%= link_to "Search", "/search" %> 
        <%= link_to "Profile", profile_user_path(current_user.id) %> 
        <%= link_to "Notifications", notifications_user_path(current_user.id) %> 
        <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
        <%= link_to "New Post", new_post_path %> 
        <%= link_to "Find People", users_path%>
      </div>
    <% end %>
    <%= yield %>

  </body>
</html>
